* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f8f8f8;
}

.navbar {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  border-bottom: 1px solid #ddd;
}

.logo {
  font-size: 28px;
  font-weight: bold;
  color: #002f34;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.login {
  text-decoration: none;
  color: #002f34;
  font-weight: 600;
}

.sell-btn {
  background-color: white;
  border: 3px solid #23e5db;
  border-radius: 20px;
  color: #002f34;
  font-weight: bold;
  padding: 6px 20px;
  cursor: pointer;
}

.sell-btn:hover {
  background-color: #23e5db;
}

.search-bar {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  gap: 10px;
  border-bottom: 1px solid #ddd;
}

.search-bar input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-bar input {
  width: 40%;
}

.search-bar button {
  background-color: #002f34;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.search-bar button:hover {
  background-color: #23e5db;
  color: black;
}


.categories {
  background-color: #fff;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px 0;
  gap: 25px;
}

.category {
  text-align: center;
  width: 100px;
}

.category img {
  width: 60px;
  height: 60px;
  margin-bottom: 8px;
}

.category p {
  font-size: 14px;
  color: #002f34;
  font-weight: 500;
}


.products {
  padding: 40px 50px;
  background-color: #fff;
  margin-top: 10px;
}

.products h2 {
  margin-bottom: 20px;
  color: #002f34;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
}

.product-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: center;
  padding: 10px;
  transition: all 0.3s ease;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.product-card img {
  width: 100%;
  border-radius: 5px;
}

.price {
  color: #002f34;
  font-weight: bold;
  margin: 8px 0;
}

.location {
  color: gray;
  font-size: 13px;
}

.footer {
  background-color: #002f34;
  color: #fff;
  padding: 40px 0 20px;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1100px;
  margin: auto;
}

.footer-col {
  flex: 1 1 200px;
  margin: 15px;
}

.footer-col h3 {
  font-size: 18px;
  margin-bottom: 15px;
  color: #23e5db;
}

.footer-col ul {
  list-style: none;
}

.footer-col ul li {
  margin-bottom: 8px;
}

.footer-col ul li a {
  color: #ccc;
  text-decoration: none;
  transition: 0.3s;
}

.footer-col ul li a:hover {
  color: #23e5db;
}

.social-links a {
  color: #ccc;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 6px;
  transition: 0.3s;
}

.social-links a:hover {
  color: #23e5db;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  border-top: 1px solid #00484e;
  padding-top: 10px;
  color: #aaa;
}
